day22 pong/__pycache__/ball.cpython-39.pyc
day22 pong/__pycache__/paddle.cpython-39.pyc
day22 pong/__pycache__/scoreboard.cpython-39.pyc
day26/.DS_Store
day26/poetry.lock
day26/pyproject.toml
.gitignore

day27/.vscode/settings.json
day28/.DS_Store
day28/pomodoro-start/.vscode/settings.json
.gitignore
