day22 pong/__pycache__/ball.cpython-39.pyc
day22 pong/__pycache__/paddle.cpython-39.pyc
day22 pong/__pycache__/scoreboard.cpython-39.pyc
day26/.DS_Store
day26/poetry.lock
day26/pyproject.toml
day27/.vscode/settings.json
day28/.DS_Store
day28/pomodoro-start/.vscode/settings.json

.DS_Store
.DS_Store
day30_capstone_flashcards/main.py
.DS_Store
.DS_Store
day34_quizz/.vscode/settings.json
day34_quizz/__pycache__/data.cpython-39.pyc
day34_quizz/__pycache__/question_model.cpython-39.pyc
day34_quizz/__pycache__/quiz_brain.cpython-39.pyc
day34_quizz/__pycache__/ui.cpython-39.pyc
day35_apikeys/_ignore_tokens
day36_stock/main.py
day36_stock/steps.txt
day36_stock/keys
day37_habit_tracker/tokens.txt
.gitignore
day25_csv_pandas/day37_habit_tracker/pixela.py
day25_csv_pandas/day37_habit_tracker/tokens.txt
day39_capstone_flight tracker/info.txt
day39_capstone_flight tracker/__pycache__/data_manager.cpython-39.pyc
.gitignore
day39_capstone_flight tracker/.vscode/settings.json
day39_capstone_flight tracker/__pycache__/flight_search.cpython-39.pyc
day39_capstone_flight tracker/testing.py
day39_capstone_flight tracker/__pycache__/flight_data.cpython-39.pyc
day15-31_intermediate/day16/__pycache__/coffee_maker.cpython-39.pyc
day15-31_intermediate/day16/__pycache__/menu.cpython-39.pyc
day15-31_intermediate/day16/__pycache__/money_machine.cpython-39.pyc
day15-31_intermediate/day20_21 snake/__pycache__/food.cpython-39.pyc
day15-31_intermediate/day20_21 snake/__pycache__/scoreboard.cpython-39.pyc
day15-31_intermediate/day20_21 snake/__pycache__/snake.cpython-39.pyc
day32-40_intermediate+/day35_apikeys/_ignore_tokens

day32-40_intermediate+/day36_stock/keys
.gitignore
day32-40_intermediate+/day37_habit_tracker/tokens.txt
day32-40_intermediate+/day38_workout_tracker/main.py
day32-40_intermediate+/day39_capstone_flight tracker/main.py
.gitignore
.gitignore
day32-40_intermediate+/day39_capstone_flight tracker/.vscode/settings.json
day32-40_intermediate+/day39_capstone_flight tracker/info.txt
day32-40_intermediate+/day38_workout_tracker/.vscode/settings.json
day45-58_Intermediate+/day_46_Spotify/info.txt
day45-58_Intermediate+/day46_Spotify/info.txt
.gitignore
day45-58_Intermediate+/day47_amazon_price_tracker/data.txt
day45-58_Intermediate+/day49_tinder_auto_swiper/info.txt
day45-58_Intermediate+/info.txt
day45-58_Intermediate+/day52_Instagram_follower_bot/info.txt
day45-58_Intermediate+/day55_flask/.vscode/settings.json
.gitignore
day45-58_Intermediate+/day55_flask/__pycache__/main.cpython-39.pyc
day45-58_Intermediate+/day57_Flask_HTML_CSS/.vscode/settings.json
